
<div class="table-responsive">
            <table class="table table-hover">
              <thead id="head_column_table">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome completo</th>

                  <th scope="col">Ações</th>
                </tr>
              </thead>
                <tbody id="line_table">
                  {% for cliente in clientes %}

                    <tr id="client-{{ cliente.id }}"  style="cursor: pointer;">
                          <td>{{ cliente.id }}</td>
                          <td>{{ cliente.nome_completo|upper }}</td>
                          <td>
                              <button type="button" class="btn btn-primary openBtn"
                                     onclick="view_client({{ cliente.id }})"
                                      data-bs-toggle="modal" data-bs-target="#modal_client">
                                    <i class="fa-solid fa-eye"></i>
                            </button>

                              <button type="button" class="btn btn-danger openBtn"
                                      onclick="modal_delete_client({{ cliente.id }},'{{ cliente.nome_completo }}')"
                                      data-bs-toggle="modal" data-bs-target="#modal_client">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                               </button>
                              <button type="button" class="btn btn-warning openBtn"
                                      style="color: white;background-color:#ff9307;"
                                      onclick="view_update_client({{ cliente.id }},'{{ cliente.nome_completo }}')"
                                      data-bs-toggle="modal" data-bs-target="#modal_client">

                                    <i class="fa-solid fa-pen-to-square"></i>
                               </button>
                          </td>

                        </tr>

                  {% empty %}
                    <li>Desculpe, nao existem clientes cadastrados</li>
                  {% endfor %}
              </tbody>
            </table>
            </div>

        <nav aria-label="...">
          <ul class="pagination" id="client_navigation">
            <input type="hidden" id="id_page_itens" name="page_itens" value="{{page_obj.object_list|length}}">
            <input type="hidden" id="id_page_index" name="page_index" value="{{ page_obj.number }}">
              {% if page_obj.has_previous %}
            <li class="page-item">
                <button type="button" class="page-link" onclick="update_list_client({{page_obj.previous_page_number}})">
                    Anterior
                </button>
            </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#">Anterior</a>
              </li>
               {% endif %}

            {% for num_page in  page_obj.paginator.page_range %}

              {% if page_obj.number == num_page %}
                <li class="page-item active">
                  <span class="page-link">
                    {{ num_page }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
              {% else %}
                <li class="page-item">
                    <button type="button" class="page-link" onclick="update_list_client({{num_page}})">
                        {{ num_page }}
                    </button>
                </li>
              {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <button type="button" class="page-link" onclick="update_list_client({{page_obj.next_page_number}})">
                        Próximo
                    </button>
                </li>
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link"  href="#">Próximo</a>
                </li>
            {% endif%}
          </ul>
        </nav>

