@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #000;
}

#body_div {
    background-color: #000;
    max-width: 1200px;
    margin: 0 auto;

}


/* HEADER */

header {
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #dc3545;
    font-family: "Berkshire";
    font-size: 2.5rem;
    font-weight: bold;
}

header span {
    color: #fff;
}

header .navegacao-primaria {
    display: flex;
    gap: 30px;
    align-items: center;
}

header .navegacao-primaria li a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}

header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .3s;
}



header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #5b56ffe0;
}

#nav_bar i{
    display: None;
}

.section-div {
    animation: inicializar .7s forwards;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div .content_header {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div div h2 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
}

.section-div div p {
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.section-div div a {
    justify-self: start;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

.section-div img {
    max-width:85%;
}

#button_link_grid{
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: xx-large;
}

#button_link_grid{
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: xx-large;
}

#button_link_grid a:hover{
 color: white;
 background-color: #95a2d2;
}

.button_link a:hover {
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #95a2d2;
}

.button_link i{
  font-size: 2rem;
}


.section-div img {
    max-width: 100%;
}


.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

/* SEÇÃO PRINCIPAL SOBRE MIM */


.set_main {
    background-color: #111;
    color: white;
}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.titulo_padrao {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
}

.titulo_padrao h1 {
    font-size: 2.5rem;
    color: #dc3545;
    margin-bottom: 15px;
    font-family: 'Berkshire';
    font-weight: bold;

}

.titulo_padrao p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.titulo_padrao div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.titulo_padrao span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #dc3545;
}


.sobre img {
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo {
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1 {
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
    font-family: 'Berkshire';
    font-weight: bold;
}

.sobre_texto h1::after {
    background-color: #ff5d56;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: #dc3545;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: .9rem;
}


/* SOBRE MINHAS EXPERIÊNCIAS */

.my_resume {
    color: #f7f7f7;
}

.experience {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.education {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

.experience_content ul {
    color: #ff5d56;
    gap: 10px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.experience_content ul li.ativo {
    color: #3e3d3d;
}

/* SOBRE CURSOS E SKILLS */

.cursos {
    margin-top: 50px;
    display: grid;
    gap: 30px;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

.my_skill {
    margin-bottom: 45px;
}

.skill_icons img{
    width: 2rem;
}

.my_skill h2 {
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 1.5rem;
    font-family: 'Poppins';
    background-color: #5b56ffe0;
    text-align: center;
    margin-bottom: 30px;
}

.my_skill h2 i {
    padding-right: 10px;
}

.skill_content {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
}

.skill_content h3 {
    font-size: 1.2rem;
}

.skill_content ul {
    display: flex;
    margin-top: 0rem;
    font-size: medium;
}

.img_card{
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */

}

.img_card .content_card {
    position: absolute; /* Position the background text */
    bottom: 2rem; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

/* PROJECTS */

.projects {
    padding: 30px;
    justify-content: center;
    background-color: #151515;
}

.projects ul {
    justify-content: center;
    display: flex;
}

.project_models ul li {
    cursor: pointer;
    margin-right: 23px;
}

.project_models ul li button{
    cursor: pointer;
    font-family: 'Poppins';
    background-color: #222;
    border: 1px solid #333;
    color: #707070;
    padding: 6px 20px;
}

.project_models ul li.ativo {
    background-color: #dc3545;
    color: #151515;
    font-weight: bold;
}


.projects_armazenamento ul {
    display: grid;
    margin-top: 60px;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.projects_armazenamento ul li {
    display: none;
    max-width: 100%;
    height: 100%;
}


.projects_armazenamento ul li.ativo {
    display: block;
    animation: animationButton 2s ease-in-out forwards;
}

.projects_armazenamento ul li img {
    cursor: pointer;
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}

.col_projects .card{
    background-color: #393b5b;
    color: aliceblue;
}

.projects a {
    background-color: #222;
    padding: 20px 20px;
    cursor: pointer;
    text-decoration: none;
    justify-self: center;
    border-radius: 3px;
    color: #707070;
    border: 1px solid #333;
}

.pagination span {
    background-color: #222;
    padding: 20px 20px;
    justify-self: center;
    border-radius: 3px;
    color: #707070;
    border: 1px solid #333;
}

.pagination button {
    background-color: #222;
    padding: 20px 20px;
    justify-self: center;
    border-radius: 3px;
    color: #707070;
    border: 1px solid #333;
}

.list_skills ul li img{
    width: 1.3rem;
}

.content_btn_icons_skills{
    display: flex;
}

.content_btn_icons_skills .btn-group form{
    margin-right: 10px;
}

/* FOOTER */

footer {
    background-color: #000000;
    padding: 30px;
}

.footer_sociais {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.footer_sociais li {
    border-radius: 50%;
    background-color: #7e8ca2;
    border: 1px solid #0f0f0f;
}

.footer_sociais li i {
    padding: 30px;
    font-size: 1.5rem;
    color: 363636;
}

.footer_sociais li:hover {
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
}

.footer_sociais li a {
    color: black;
}

#get_whatsapp a:hover {
    color: #00ff4c;
}

#get_email i:hover {
    color: gold;
}

#get_linkedin i:hover {
    color: #301fff;
}

#get_github i:hover {
    color: black;
}

.footer_sociais::before {
    position: absolute;
    content: '';
    bottom: -30px;
    height: 5px;
    width: 200px;
    background-color: #222;
}

.footer_sociais::before:hover {
    background-color: #95a2d2;
}

footer .footer_comercial {
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 90px 0;
    font-family: 'Poppins';
}

/* ANIMACAO */

@keyframes pisca {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes sobeSecao {
    from {
        transition: .3s;
        transform: translate3d(120px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animationButton {
    0% {
        opacity: 0;
        transform: translate3d(0, -90px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}



/* RESPONSIVO */

@media(min-width: 800px) {
    .section-div {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 14px;
        background-image: None;
        background-position-x: 4rem;
        background-size: 1px;

    }

    .col_projects{
        width: 50%;
    }

    .container_projects{
        max-width: auto;

    }
}

@media (max-width: 1089px) {

    .resume_gerenico .experience_content,
    .education_content {
        justify-self: center;
        grid-column: 1/-1;
    }

    .resume_gerenico .education {
        grid-column: 1/-1;
        margin-top: 30px;
        grid-row: 3;
        text-align: center;
        justify-self: center;
    }

    .resume_gerenico .experience {
        grid-column: 1/-1;
        margin-top: 30px;
        grid-row: 1;
        text-align: center;
        justify-self: center;
    }

    .cursos {
        grid-template-columns: 1fr;
    }

    .cursos .funfacts h2 {
        justify-self: center;
    }

    .cursos .funfacts {
        margin-bottom: 30px;
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1/-1;
    }

    .cursos .my_skill h2 {
        justify-self: center;
    }

    .my_skill {
        text-align: center;
        display: block;
    }
}


@media(max-width: 992px) {
    .section-div img {
        display: none;
    }

    .section-div {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 14px;
        background-image: None;
        background-position-x: 4rem;
    }


    header {
        justify-content: space-between;
        padding: 10px 10px;
    }

    header .navegacao-primaria {
        display: none;
    }

    #nav_bar i{
        display: block;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    header .navegacao-primaria.ativado {
        background: #202539;
        position: absolute;
        display: grid;
        top: 62px;
        color: #fff;
        z-index: 1;
        padding: 52px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 1px;
        animation: sobeSecao .3s ease-in-out forwards;
        width: 100%;
        text-align: center;
    }

    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
        display: block;
    }

    .sobre_conteudo {
        grid-column: 1/-1;
    }

    .content_btn_icons_skills{
        display: block;
    }
    .content_btn_icons_skills .btn-group{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .content_btn_icons_skills .btn-group form{
        margin-right: 10px;
    }
}
