 <div class="row g-3 justify-content-evenly">

        {% if skills.front_end %}
        <div class="col-md-4">
            <div class="my_skill">
                <h2><i class="fa-sharp fa-regular fa-star"></i>SKILLS FRONT-END</h2>
                    {% for skill in skills.front_end %}
                        <div class="skill_content">
                            <h3>{{ skill.name }}</h3>
                            <ul>
                                {{ skill.time_experience|safe }}
                            </ul>
                        </div>
                    {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if skills.back_end %}
        <div class="col-md-4">
            <div class="my_skill">
                <h2><i class="fa-sharp fa-regular fa-star"></i>SKILLS BACK-END</h2>
                {% for skill in skills.back_end %}
                    <div class="skill_content">
                        <h3>{{ skill.name }}</h3>
                        <ul>
                            {{ skill.time_experience|safe }}
                        </ul>
                    </div>
                {% endfor %}

            </div>
        </div>
        {% endif %}

        {% if skills.mobile %}
        <div class="col-md-4">
            <div class="my_skill">
                <h2><i class="fa-sharp fa-regular fa-star"></i>SKILLS MOBILE</h2>
                {% for skill in skills.mobile %}
                    <div class="skill_content">
                        <h3>{{ skill.name }}</h3>
                        <ul>
                            {{ skill.time_experience|safe }}
                        </ul>
                    </div>
                {% endfor %}

            </div>
        </div>
        {% endif %}

        {% if skills.dev_ops %}
        <div class="col-md-4">
            <div class="my_skill">
                <h2><i class="fa-sharp fa-regular fa-star"></i>SKILLS DevOps</h2>
                {% for skill in skills.dev_ops %}
                    <div class="skill_content">
                        <h3>{{ skill.name }}</h3>
                        <ul>
                            {{ skill.time_experience|safe }}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
</div>