{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% load tags %}

{% block main %}

        <section aria-label="landing page" class="section-div" style="background-image: url({{ website.header.photo }})">
            <div class="content_header">
                <h2>{{ website.header.title }}</h2>
                <h2 class="digitando">{{ website.header.profession }}</h2>
                <p>{{ website.header.subtitle }}</p>

                <div id="button_link_grid" class="btn-group">
                    <a href="{{ website.contact.linkedin }}" class="btn button_link" target="_blank">  <i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="{{ website.contact.github }}" class="btn button_link" target="_blank"> <i class="fa-brands fa-github-alt"></i> </a>
                </div>
            </div>

            <img src="{{ website.header.photo }}" alt="ilustrativa imagem de uma pessoa">

        </section>
        <main id="about" class="set_main" >
            <article aria-label="seção sobre mim" class="sobre">
                <div class="titulo_padrao">
                    <h1>Sobre mim</h1>
                    <p>Saiba um pouco sobre mim</p>
                    <div aria-label="Seção apenas de ilustrações de botões">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <img src="{{ website.about.photo }}" alt="imagem de uma pessoa ilustrativa">

                <div class="sobre_conteudo">
                    <div class="sobre_texto">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ website.about.content }}</p>
                    </div>
                    <div class="sobre_info">
                        <p><i class="fa-solid fa-calendar-days"></i>Data de nascimento: {{ website.about.birth_date }}</p>
                        <p><i class="fa-sharp fa-solid fa-laptop-code"></i>Freelance: {% if website.about.is_freelance %} Sim {% else %} Não disponível{% endif %}</p>
                        <p><i class="fa-solid fa-location-dot"></i>Endereço: {{ website.about.address }}</p>
                        <p><i class="fa-sharp fa-solid fa-globe"></i>Idiomas faladas: {{ website.about.languages|format_list_language }}</p>
                        <p><i class="fa-solid fa-flag"></i>Nacionalidade: {{ website.about.nationality }}</p>
                        <p><i class="fa-solid fa-phone-volume"></i>Celular: {{ website.about.phone }}</p>
                        <p><i class="fa-solid fa-envelope"></i>Email: {{ website.about.email }}</p>
                    </div>
                </div>
            </article>
        </main>

        <section id="resume" class="my_resume" >
            <div class="titulo_padrao">
                <h1>Resumo</h1>
                <p>Minha trajétorio no mercado e formação academica.</p>
                <div aria-label="Seção apenas de ilustrações de botões">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <section>
               <div class="container_timeline">
                <main class="row_timeline" id="main_timeline">
                    <section class="col_timeline">

                        <header class="title_timeline">
                            <h2 class="experience"><i class="fa-solid fa-book"></i> ACADÊMICO</h2>
                        </header>

                        <div class="contents">
                            {% for historic_academic in website.historic.academic %}
                                <div class="box_timeline">
                                    <h4>{{ historic_academic.start_date }} - {{ historic_academic.end_date }}</h4>
                                    <h3>{{ historic_academic.institution_company }} - {{ historic_academic.name }}</h3>
                                    <p>{{ historic_academic.description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </section>

                    <section class="col_timeline">

                        <header class="title_timeline">
                             <h2 class="experience"><i class="fa-solid fa-handshake"></i> EXPERIÊNCIAS PROFISSIONAIS</h2>
                        </header>

                        <div class="contents">

                            {% for historic_professional in website.historic.professional %}
                                <div class="box_timeline">
                                    <h4>{{ historic_professional.start_date }} - {{ historic_professional.end_date }}</h4>
                                    <h3>{{ historic_professional.institution_company }} - {{ historic_professional.name }}</h3>
                                    <p>{{ historic_professional.description }}</p>
                                </div>
                            {% endfor %}

                        </div>
                    </section>

                </main>
            </div>
        </section>


            <section>
            <br>
            <div class="container" id="my_skills">
                <div class="titulo_padrao">
                    <h1>Habilidades</h1>
                    <p>Conheça minhas habilidades</p>
                    <div aria-label="Seção apenas de ilustrações de botões">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                    <div class="row g-3 justify-content-evenly">

                        {% for card_skill in website.skills_card %}
                            <div class="col-md-4">
                                <div class="my_skill">
                                    <h2><i class="fa-sharp fa-regular fa-star"></i>{{ card_skill.name }}</h2>

                                        {% for skill in website.skills|get_skills:card_skill.id %}
                                            <div class="skill_content">
                                                <h3>{{ skill.name }}</h3>
                                                <ul>
                                                    {{ skill.time_experience|safe }}
                                                </ul>
                                            </div>
                                        {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
            </div>
            <br>
            <br>
        </section>
             </section>


      <section class="projects py-5 text-center" id="projects">
            <div class="row py-lg-3">
                  <div class="titulo_padrao">
                    <h1>Meus Projetos</h1>
                    <p>Veja o que já fiz.</p>
                    <div aria-label="Seção apenas de ilustrações de botões">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="project_models">

            </div>

            <div class="my_projects album py-2" id="my_projects">

            </div>
      </section>

        <footer>
            <div class="titulo_padrao" id="contact">
                <h1>Dev José Felipe</h1>
                <p>Minhas redes sociais</p>
            </div>
            <nav aria-label="navegação de links sociais">
                <ul class="footer_sociais">
                    <li id="get_whatsapp"><a target="_blank" href="https://api.whatsapp.com/send?phone={{ website.contact.whatsapp }}"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li id="get_email">
                        <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to={{ website.contact.email }}&su=assunto&body=conteúdo da mensagem">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                    </li>
                    <li id="get_linkedin">
                        <a href="{{  website.contact.linkedin }}" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    <li id="get_github">
                        <a href="{{  website.contact.github }}" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <section class="bg-black py-2 py-md-5">
                <div id="div_message" class="alert alert-success alert-dismissible fade hide" role="alert" style="display:none;background: #fbf276c9;color:#d24500;">
                    <div id="message_form"></div>
                </div>

                  <div class="container" id="id_form_contact_me">

                  </div>

                </section>

            <p class="footer_comercial">Todos os direitos reservados Dev José Felipe &copy; - 2023</p>

        </footer>
{% endblock %}
